<app-header titulo="Editar"></app-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (submit)="updateButton()">
    <h2>Edite sua receita</h2>
    <ion-item>
      <ion-label position="floating">Nome da receita</ion-label>
      <ion-input type="text" formControlName="nomeReceita" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Link da imagem</ion-label>
      <ion-input type="text" formControlName="img" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingredientes</ion-label>
      <ion-input type="text" formControlName="ingredientes" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modo de preparo</ion-label>
      <ion-input type="text" formControlName="modoPre" required></ion-input>
    </ion-item>

    <ion-button expand="full" [disabled]="form.invalid" type="submit">Editar</ion-button>
    <ion-button expand="full" routerLink="/receitas">Voltar</ion-button>
  </form>


</ion-content>
